@font-face {
  font-family: "rosmatika";
  src: url("../fonts/rosmatikaregular-bwa45-webfont.woff2") format("woff2"),
    url("../fonts/rosmatikaregular-bwa45-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair";
  src: url("../fonts/playfairdisplay-regular-webfont.woff2") format("woff2"),
    url("../fonts/playfairdisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "autumn";
  src: url("../fonts/autumnflowers-9yvzk-webfont.woff2") format("woff2"),
    url("../fonts/autumnflowers-9yvzk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.header .nama-utama {
  margin-top: -5px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: grey;
  padding-bottom: 40px;
}

.nama {
  margin-left: 60px;
  font-size: 30px;
  margin-top: -65px;
  position: relative;
}

.header {
  justify-content: space-around;
}

body {
  font-family: playfair;
  margin: 0;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: black;
}

.navigasi1 li {
  font-size: 20px;
  float: left;
  margin: 30px;
  padding: 10px;
  margin-top: -70px;
  transition: 0.7s;
  list-style: none;
}

.navigasi1 li:hover {
  background-color: grey;
  border-radius: 20px;
}

.navigasi .navigasi2 li {
  font-size: 20px;
  transition: 0.7s;
  padding: 10px;
  float: right;
  margin: 30px;
  margin-top: -70px;
  list-style: none;
  /* transform: translateX(-20px); */
  overflow: hidden;
}

.navigasi .navigasi2 li:hover {
  background-color: grey;
  border-radius: 20px;
}

.main-judul {
  text-align: center;
  margin-top: 150px;
}

.main-judul h1 {
  font-family: autumn;
  font-weight: 200px;
  font-size: 100px;
  font-style: italic;
}

.gambar {
  display: flex;
  justify-content: space-between;
}

.gambar1 {
  width: 400px;
  height: 600px;
  margin: 0px;
  border-radius: 20px;
}
